<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${title}</title>
    ${head}
</head>
<body>
    <ul>
        ${todos.map(todo =>{
            return `<li><a href="/todos/${todo.id}">${todo.id}: ${todo.todo}</a>
            <form action="/todos/${todo.id}?_method=DELETE" method="post">
                
                <button type="submit">x</button>
            </form>
            
            </li>`
        }).join("")}
 
    </ul> 

    ${ message ? `<div>${message}</div>` : ''}

    <form action="" method="post">
        <div>
          <label for="todo">Todo Item</label>
          <input type="text" name="todo" id="todo">
        </div>
        <button type="submit">Send it</button>
    </form>
</body>
</html>